@model Tracker.ViewModels.AddBedViewModel



<body style="background-color: #D1CA08; text-align: center">
    <div style="background-color: beige; border: 1px solid; border-radius: 10px; ">
        <br />
        <h1>Add Garden Bed to <b>@Model.Seed.Name </b> seed: </h1>
        <br />
        <br />
        <form asp-controller="Bed" asp-action="ProcessAddBedToSeed" method="post">

            <input type="hidden" value="@Model.Seed.Id" name="SeedId" />

            <div class="form-group">
                <label asp-for="BedId" style="font-size: 25px">Bed</label>

                @*use conditional in the creation of drop down list*@
                <select asp-for="BedId" asp-items="Model.Beds"></select>
                <br />
                <br />
                <span asp-validation-for="BedId"></span>
            </div>


           <input type="submit" value="Add Bed to Seed" class="btn-light" style=" border: 1px solid; border-radius: 5px" />
            <br />
            <br />
        </form>

    </div>
</body>