@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Tracker.Controllers;
@using Tracker.Models;
@model List<Seed>
<body style="background-color: #D1CA08">
    <div style="background-color:beige; border:1px solid; border-radius:5px">
        <h1>Search Your Seed Inventory </h1>

        <form asp-controller="Search" asp-action="Index" method="post">
            <div class="form-group">
                <label>Search Value </label>
                <input name="searchTerm" class="form-control" />
                <br />
            </div>

            <br />
            <br />
            <input type="submit" value="Search Inventory" class="btn btn-light" style="border: 1px solid" />
            <br />
        </form>
    </div>
    
    <br />
    <br />
    @if (Model != null)
        {

            <div style="background-color:beige; border: 1px solid; border-radius: 5px">
                <h2>Results: </h2>
                <br />
                <br />
                @foreach (var seed in Model)
                    {<p style="font-size: 25px"><a asp-controller="Seed" asp-action="Detail" asp-route-id="@seed.Id" style="color:black">@seed.Name</a></p>
                    }
                <p></p>
                <br />
                <br />
            </div>

        }
    


    <p>@ViewBag.MyMessage</p>

</body>

